* {
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    gap: 10%;
}

img.logo {
    
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
li {
    padding: 5%;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #747070;
    font-size: 24px;
}