* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(270deg, #FFFFFF 0%, #B3BBFF 0%, #DEF3FF 99.99%, #CCECFF 100%);;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    gap: 10%;
}

img.logo {
    width: 70%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
}
li {
    padding: 5%;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #747070;
    font-size: 24px;
}